body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  /* The image used */
  background-image: url("Assets/tpxlogo1920.png");
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.navbar{
  color: white;
  -webkit-box-shadow: 0 8px 6px -6px rgb(20, 19, 19);
  -moz-box-shadow: 0 8px 6px -6px rgb(20, 19, 19);
  box-shadow: 0 8px 6px -6px rgb(20, 19, 19);
}

.accountName {
  font-size: xx-large;
  font-weight: bold;
  background-color:azure;
}

.accountName > * {
  display: inline-block;
  padding: 0.5%;
  width: 25%;
}

.champIcon {
  margin-left: 1%;
}

.gameIcon {
  text-align: center;
}

.summonerIcon {
  width: 75px;
  height: 75px;
}

.rankBorder {
  width: 75px;
  height: 75px;
  float: right;
}

.knownFor, .achievements {
  font-size: x-large;
  font-weight: bold;
  margin-top: 3%;
}

.achievement {
  font-size: large;
  font-style: italic;
}

.title {
  position: relative;
  top: 30vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(5, 74, 138,0.5);
  display: inline-block;
  padding: 2%;
}

.wrapper {
  position: relative;
  text-align: center
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  position: absolute;
  width: 10vw;
  height: 0;
  left: 45vw;
  top: 60vh;
  padding-bottom: 10%;
  transform: rotate(-45deg);
  transition: 0.5s;
  box-shadow: -2px 2px rgba(255,255,255,5);
  display: inline-block;
  cursor: pointer;
}

.arrow:hover {
  box-shadow: -2px 2px 0 black;
}


.tournaments-page, .members-page, .about-page {
  min-height: 100vh;
}

.about-page, .tournaments-page {
  padding-top: 5%;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.about-page p, .tournaments-page p {
  font-family: 'Crimson Text', serif;
  padding: 5% 10% 0% 10%;
}

.about-page h1, .tournaments-page h1 {
  font-weight: bolder;
}

.page-containers {
  background-image: url("Assets/starbackground.png");
  background-position:center;
  background-attachment: fixed;
}

.text-slanted {
  color: white;
  font-weight: bolder;

}

.active > .link{
  color: red;
}

.nav-link, .navbar-brand {
  cursor: pointer;
}

.CSRModal{
  width: 90vw;
  height: 10vh;
  max-width: none!important;
  }

  .merchnav {
    text-align: center;
    overflow: hidden;
    background-color:rgba(255,255,255)
    ;
    
  }

  .merchnav a, .merchnav span {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .merchnav .homeButton {
    float: left;
    color: rgb(59,12,71);
    font-size: xx-large;
    padding-top: 0%;
  }

  .merchnav .shoppingCardButton {
    float: right;
    color: rgb(59,12,71);
    font-size: xx-large;
    padding-top: 0%;
  }

  .merchnav .merchandise-title {
    font-size: xx-large;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px #45474c;
    font-weight: 900;
    color: rgb(59,12,71);
    text-transform: none;
    font-style: italic;
    line-height: 2em;
    letter-spacing: 0px;
  
  }
  .merchnav .shoppingCardButton:hover > .shoppingCardIcon {
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 7px 7px 7px rgb(220, 220, 220); 
  }
  
  /* Navbar links on mouse-over */
  .merchnav .homeButton:hover > .homeIcon {
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgb(220, 220, 220); 
  }


  .categoriesContainer {   
    background-color: rgba(30,30,30,255);
    text-align: center;
    vertical-align: middle;
    font-size:medium;
    height: 60px;
    width: 100%;
  }

  .merch-page-store {
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
  }

  .category {
    display: inline-block;
    height: 100%;
    padding-left: 1.33333%;
    padding-right: 1.33333%;
    color: white;
  }

  .category:hover {
    background-color: white;
    color: black;
  }

  .category:hover > .categoryName { 
    color: black;
    cursor: pointer;
  }

  .categoryName{
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    height: 100%;
    
}

.shoppingCart-dropdown {
  width: 33%;
  top: 5%;
  position: absolute;
  z-index: 2;
  display: block;
  right: 0%;
  background-color: white;
}

.shoppingCart-dropdown-header {
  padding: 2% 0 0 2%;
  font-size: x-large;
}

.shoppingCart-dropdown-emptyCart {
  text-align: center;
  padding: 1%;
}

.shoppingCart-dropdown-separator {
  margin-top: 0;
}

.product-card {
  text-align: left;
  line-height: 1;
  box-shadow: 0 2px 2px #c9cbce;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: .5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}

.product-card:hover {
  cursor: pointer;
}

.product-card-text-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-grow: 4;
}

.product-card-product-name, .product-card-product-description {
  margin-bottom: .5rem;
  color: #45474c;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-product-name {
  letter-spacing: normal;
  font-size: .85rem;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
}

.product-card-product-description {
  font-size: 1rem;
  font-weight: 400;
  height: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card-product-pricecontainer {
  font-size: .875rem;
  margin-bottom: .5rem;
  color: #45474c;
}

.product-card-product-price {
  font-size: 1.4em;
  color: #000;
  font-weight: 700;
}

.product-card-product-status{
  margin-bottom: .3rem;
  width: 90%;
}

.product-card-product-inventorystatus, .product-card-product-status {
  font-size: .85rem;
  font-weight: 500;
  display: inline;
  color: #45474c;
  margin-right: 5px;
}

.product-card-navlink:hover {
  text-decoration: none;
}

.product-card:hover > .product-card-image {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.product-page {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin:0%;
  background-color: white;
}
  
.product-page-info-container {
  position: relative;
  margin: 5% 10% 0 10%;
  text-align: left;
  background-color: ;
}

.product-page-description-container{
  color: #45474c;
  font-weight: 300;
}

.product-page-description-container h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.25rem;
  color: #45474c;
  margin-bottom: .5em;
}

.product-page-title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.25;
}

.product-page-image img {
  width: 100%;
  max-width: 25vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-page-price {
  font-size: 1.4em;
  color: #000;
  font-weight: 700;
}

.product-page-status {
  text-transform: uppercase;
  margin-bottom: .5em;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 20px;
  text-align: left;
  color: #6e7073;
}

.form-control {
  border-radius: 0;
}

.product-page-button-container {
  margin-top: 2%;
  width: 100%;
}
.product-page-button-container select {
  float: right;
  width: 20%;
}

.product-page-button {
  width: 75%;
}






